

<%= content_for :title, "Términos y Condiciones" %>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center">Términos y Condiciones</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu justo lectus.
        Proin tincidunt tellus eu lacinia cursus. Nullam luctus arcu vitae metus volutpat
        auctor. Vivamus non metus urna.
      </p>
      <p>
        Vestibulum volutpat sit amet lorem id facilisis. Sed id ex nec libero sollicitudin
        facilisis. Nulla facilisi. Praesent ac rhoncus dolor.
      </p>
      <!-- Agrega más contenido de tus términos y condiciones aquí -->

      <p class="mt-4">
        Si tienes alguna pregunta o inquietud sobre nuestros Términos y Condiciones, no dudes en
        <a href="mailto:contacto@tuaplicacion.com">contactarnos</a>.
      </p>
    </div>
  </div>
</div>
