<%= form_for @material do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nombre del Material' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
<% end %>
