<p style="color: green"><%= notice %></p>

<h1>Materiales</h1>

<div id="materials">
  <ul class="list-group">
    <% @materials.each do |material| %>
      <li class="list-group-item">
        <%= render material %>
        <%= link_to "Show this material", material, class: "btn btn-primary btn-sm float-right" %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Nuevo Materiales", new_material_path, class: "btn btn-success" %>
